/* 马年动画样式 */
.horse-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    overflow: hidden;
}

.horse {
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    animation: gallop linear infinite;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

@keyframes gallop {
    0% {
        transform: translateX(-100px) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        transform: translateX(calc(100vw + 100px)) translateY(0) rotate(0deg);
        opacity: 0;
    }
}

/* 不同大小和速度的马 */
.horse:nth-child(1) {
    font-size: 60px;
    animation-duration: 8s;
    top: 20%;
    animation-delay: 0s;
}

.horse:nth-child(2) {
    font-size: 45px;
    animation-duration: 12s;
    top: 40%;
    animation-delay: 2s;
}

.horse:nth-child(3) {
    font-size: 55px;
    animation-duration: 10s;
    top: 60%;
    animation-delay: 4s;
}

.horse:nth-child(4) {
    font-size: 50px;
    animation-duration: 9s;
    top: 80%;
    animation-delay: 1s;
}

/* 响应式调整 */
@media (max-width: 768px) {
    .horse {
        font-size: 30px;
    }
    .horse:nth-child(1) { font-size: 40px; }
    .horse:nth-child(2) { font-size: 30px; }
    .horse:nth-child(3) { font-size: 35px; }
    .horse:nth-child(4) { font-size: 32px; }
}